{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{ vmname }} VMachine{% endblock %}
{% block css %}
{% endblock %}
<style>
    body {
        margin: 0;
        background-color: dimgrey;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    html {
        height: 100%;
    }

    #top_bar {
        background-color: #6e84a3;
        color: white;
        font: bold 12px Helvetica;
        padding: 6px 5px 4px 5px;
        border-bottom: 1px outset;
    }

    #status {
        text-align: center;
    }

    #sendCtrlAltDelButton {
        position: fixed;
        top: 0px;
        right: 0px;
        border: 1px outset;
        padding: 5px 5px 4px 5px;
        cursor: pointer;
    }

    #screen {
        flex: 1;
        /* fill remaining space */
        overflow: hidden;
    }
</style>
{% block content %}
<div>
    <p>这是一个vnc-console窗户页面</p>
    <div id="top_bar">
        <div id="status">Loading</div>
        <div id="sendCtrlAltDelButton">Send CtrlAltDel</div>
    </div>
    <div id="screen">
        <!-- This is where the remote screen will appear -->
    </div>
</div>
{% endblock %}

{% block javascript %}
<!-- <script src="{% static '' %}"></script> -->

<script src="{% static "./js/noVNC/core/webutil.js" %}"></script>
<script src="{% static "./js/noVNC/core/base64.js" %}"></script>
<script src="{% static "./js/noVNC/core/websock.js" %}"></script>
<script src="{% static "./js/noVNC/core/des.js" %}"></script>
<script src="{% static "./js/noVNC/core/input.js" %}"></script>
<script src="{% static "./js/noVNC/core/display.js" %}"></script>
<script src="{% static "./js/noVNC/core/jsunzip.js" %}"></script>
<script src="{% static "./js/noVNC/core/rfb.js" %}"></script>

<script>
    // import RFB from './js/noVNC/core/rfb.js';    
    let rfb;
    let desktopName;

    function connectedToServer(e) {
        status("Connected to " + desktopName);
    }

    function disconnectedFromServer(e) {
        if (e.detail.clean) {
            status("Disconnected");
        } else {
            status("Something went wrong, connection is closed");
        }
    }

    function credentialsAreRequired(e) {
        const password = prompt("Password required:");
        rfb.sendCredentials({ password: password });
    }

    function updateDesktopName(e) {
        desktopName = e.detail.name;
    }


    function sendCtrlAltDel() {
        rfb.sendCtrlAltDel();
        return false;
    }

    function status(text) {
        document.getElementById('status').textContent = text;
    }

    function readQueryVariable(name, defaultValue) {
        // A URL with a query parameter can look like this:
        // https://www.example.com?myqueryparam=myvalue
        //
        // Note that we use location.href instead of location.search
        // because Firefox < 53 has a bug w.r.t location.search
        const re = new RegExp('.*[?&]' + name + '=([^&#]*)'),
            match = document.location.href.match(re);

        if (match) {
            // We have to decode the URL since want the cleartext value
            return decodeURIComponent(match[1]);
        }

        return defaultValue;
    }



    window.onload = function () {
        "use strict";

        // Util.load_scripts(["./js/noVNC/core/webutil.js", "./js/noVNC/core/base64.js", "./js/noVNC/core/websock.js", "./js/noVNC/core/des.js",
        // "./js/noVNC/core/input.js", "./js/noVNC/core/display.js", "./js/noVNC/core/jsunzip.js", "./js/noVNC/core/rfb.js"]);
        //         host = '{{ host }}';
        //         port = '{{ port }}';
        // alert('host: ' + host + " port: " + port);
        document.getElementById('sendCtrlAltDelButton')
            .onclick = sendCtrlAltDel;

        // Read parameters specified in the URL query string
        // By default, use the host and port of server that served this file
        // const host = readQueryVariable('host', window.location.hostname);
        // let port = readQueryVariable('port', window.location.port);

        const host = '172.16.123.50';
        let port = 5700;
        alert('host: ' + host + " port: " + port);
        const password = readQueryVariable('password');
        const path = readQueryVariable('path', 'websockify');

        // | | |         | | |
        // | | | Connect | | |
        // v v v         v v v

        status("Connecting");

        // Build the websocket URL used to connect
        let url;
        if (window.location.protocol === "https:") {
            url = 'wss';
        } else {
            url = 'ws';
        }
        url += '://' + host;
        if (port) {
            url += ':' + port;
        }
        url += '/' + path;

        console.log('url: ' + url);
        // Creating a new RFB object will start a new connection
        rfb = new RFB(document.getElementById('screen'), url,
            { credentials: { password: password } });

        // Add listeners to important events from the RFB module
        rfb.addEventListener("connect", connectedToServer);
        rfb.addEventListener("disconnect", disconnectedFromServer);
        rfb.addEventListener("credentialsrequired", credentialsAreRequired);
        rfb.addEventListener("desktopname", updateDesktopName);

        // Set parameters that can be changed on an active connection
        rfb.viewOnly = readQueryVariable('view_only', false);
        rfb.scaleViewport = readQueryVariable('scale', false);

    }
</script>

{% endblock %}